In [1]:
import pandas as pd
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruits.
fruits = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])

In [2]:
fruits

   Apples  Bananas
0      30       21

In [3]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruit_sales.
fruit_sales = pd.DataFrame([[35,21],[41,34]],columns=['Apples','Bananas'],index=['2017 Sales','2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [4]:
quantities = ['4 cups', '1 cup', '2 large', '1 can']
ingredients = ['Flour', 'Milk', 'Eggs', 'Spam']
recipe = pd.Series(quantities, index=ingredients, name='Dinner')


# Check your answer

ingredients

['Flour', 'Milk', 'Eggs', 'Spam']

# using csv

In [5]:
reviews = pd.read_csv("winemag-data_first150k.csv") #extracting the file using the pandas

In [6]:
reviews.head() #data head

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [7]:
desc = reviews.description # viewed only description 
desc

0         This tremendous 100% varietal wine hails from ...
1         Ripe aromas of fig, blackberry and cassis are ...
2         Mac Watson honors the memory of a wine once ma...
3         This spent 20 months in 30% new French oak, an...
4         This is the top wine from La Bégude, named aft...
                                ...
150925    Many people feel Fiano represents southern Ita...
150926    Offers an intriguing nose with ginger, lime an...
150927    This classic example comes from a cru vineyard...
150928    A perfect salmon shade, with scents of peaches...
150929    More Pinot Grigios should taste like this. A r...
Name: description, Length: 150930, dtype: object

In [8]:
first_description = reviews.description.loc[0]
first_description

'This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.'

In [9]:
first_row = reviews.loc[0] #extracted only 1st row
first_row

Unnamed: 0                                                     0
country                                                       US
description    This tremendous 100% varietal wine hails from ...
designation                                    Martha's Vineyard
points                                                        96
price                                                        235
province                                              California
region_1                                             Napa Valley
region_2                                                    Napa
variety                                       Cabernet Sauvignon
winery                                                     Heitz
Name: 0, dtype: object

In [10]:
first_descriptions = reviews.description.iloc[:10] #extracted only 0 to 9 description
first_descriptions

0    This tremendous 100% varietal wine hails from ...
1    Ripe aromas of fig, blackberry and cassis are ...
2    Mac Watson honors the memory of a wine once ma...
3    This spent 20 months in 30% new French oak, an...
4    This is the top wine from La Bégude, named aft...
5    Deep, dense and pure from the opening bell, th...
6    Slightly gritty black-fruit aromas include a s...
7    Lush cedary black-fruit aromas are luxe and of...
8    This re-named vineyard was formerly bottled as...
9    The producer sources from two blocks of the vi...
Name: description, dtype: object

In [11]:
ind = [1,2,3,5,8]
sample_reviews = reviews.loc[ind]
sample_reviews

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
5,5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
8,8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström

In [12]:
ind = [0,1,10,100]
col = ['country', 'province', 'region_1','region_2']
df = reviews.loc[ind,col]
df

    country            province     region_1     region_2
0        US          California  Napa Valley         Napa
1     Spain      Northern Spain         Toro          NaN
10    Italy  Northeastern Italy       Collio          NaN
100      US          California  South Coast  South Coast

In [13]:
col = ['country','variety']
df = reviews.loc[:99,col]
df

   country               variety
0       US    Cabernet Sauvignon
1    Spain         Tinta de Toro
2       US       Sauvignon Blanc
3       US            Pinot Noir
4   France    Provence red blend
..     ...                   ...
95  France         Malbec-Merlot
96      US            Chardonnay
97      US    Cabernet Sauvignon
98  France         Merlot-Malbec
99  France  Ugni Blanc-Colombard

[100 rows x 2 columns]

In [14]:
italian_wines = reviews[reviews.country == 'Italy']
italian_wines

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
35,35,Italy,"Forest floor, tilled soil, mature berry and a ...",Riserva,90,135.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Carillon
37,37,Italy,"Aromas of forest floor, violet, red berry and ...",NaN,90,29.0,Tuscany,Vino Nobile di Montepulciano,NaN,Sangiovese,Avignonesi
38,38,Italy,"This has a charming nose that boasts rose, vio...",NaN,90,23.0,Tuscany,Chianti Classico,NaN,Sangiovese,Casina di Cornia
...,...,...,...,...,...,...,...,...,...,...,...
150920,150920,Italy,"Rich and mature aromas of smoke, earth and her...",Brut Riserva,91,19.0,Northeastern Italy,Trento,NaN,Champagne Blend,Letrari
150922,150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [15]:
top_oceania_wines = reviews.loc[
    (reviews.country.isin (['Australia','New Zealand'])) 
    | (reviews.points >= 95)]
italian_wines

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
35,35,Italy,"Forest floor, tilled soil, mature berry and a ...",Riserva,90,135.0,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Carillon
37,37,Italy,"Aromas of forest floor, violet, red berry and ...",NaN,90,29.0,Tuscany,Vino Nobile di Montepulciano,NaN,Sangiovese,Avignonesi
38,38,Italy,"This has a charming nose that boasts rose, vio...",NaN,90,23.0,Tuscany,Chianti Classico,NaN,Sangiovese,Casina di Cornia
...,...,...,...,...,...,...,...,...,...,...,...
150920,150920,Italy,"Rich and mature aromas of smoke, earth and her...",Brut Riserva,91,19.0,Northeastern Italy,Trento,NaN,Champagne Blend,Letrari
150922,150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

# Group wise analysis

In [17]:
reviews.groupby('points').points.count()

points
80       898
81      1502
82      4041
83      6048
84     10708
85     12411
86     15573
87     20747
88     17871
89     12921
90     15973
91     10536
92      9241
93      6017
94      3462
95      1716
96       695
97       365
98       131
99        50
100       24
Name: points, dtype: int64

In [18]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      5.0
83      4.0
84      4.0
85      4.0
86      4.0
87      6.0
88      6.0
89      7.0
90      5.0
91      8.0
92     11.0
93     12.0
94     15.0
95     20.0
96     20.0
97     42.0
98     50.0
99     65.0
100    65.0
Name: price, dtype: float64

In [22]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                            Unnamed: 0    country  \
country   province
Albania   Mirditë                 4642    Albania
Argentina Mendoza Province       65331  Argentina
          Other                  10619  Argentina
Australia Australia Other        68251  Australia
          New South Wales        54205  Australia
...                                ...        ...
Uruguay   Juanico                 3160    Uruguay
          Montevideo              3164    Uruguay
          Progreso                6541    Uruguay
          San Jose               70157    Uruguay
          Uruguay               132482    Uruguay

                                                                  description  \
country   province
Albania   Mirditë           This garnet-colored wine made from 100% Kallme...
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Australia Australia Other   This big wine presents a sophisticated bouquet...
          New South Wales   This wine's deep brassy color suggests honey, ...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        Bouza ranks as one of Uruguay's top wineries, ...
          Progreso          Blackberry and plum aromas come with wood-smok...
          San Jose          While this ranks as one of the best Uruguayan ...
          Uruguay           They call it Special Barrel, and one sniff tel...

                                                        designation  points  \
country   province
Albania   Mirditë                                               NaN      88
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Australia Australia Other                                  Yattarna      92
          New South Wales                        Noble One Botrytis      93
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      90
          Progreso                                              RPF      89
          San Jose                 El Preciado Premier Gran Reserva      89
          Uruguay                                    Special Barrel      89

                            price          province                 region_1  \
country   province
Albania   Mirditë            20.0           Mirditë                      NaN
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Australia Australia Other    65.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         57.0        Montevideo                      NaN
          Progreso           23.0          Progreso                      NaN
          San Jose           60.0          San Jose                      NaN
          Uruguay            50.0           Uruguay                      NaN

                           region_2     variety                winery
country   province
Albania   Mirditë               NaN     Kallmet                Arbëri
Argentina Mendoza Province      NaN      Malbec  Bodega Catena Zapata
          Other                 NaN      Malbec                Colomé
Australia Australia Other       NaN  Chardonnay              Penfolds
          New South Wales       NaN    Sémillon            De Bortoli
...                             ...         ...                   ...
Uruguay   Juanico               NaN   Red Blend        Familia Deicas
          Montevideo            NaN   Red Blend                 Bouza
          Progreso              NaN      Tannat                Pisano
          San Jose              NaN   Red Blend        Castillo Viejo
          Uruguay               NaN      Tannat                 Bouza

[455 rows x 11 columns]

In [21]:
reviews.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

Another groupby() method worth mentioning is agg(), which lets you run a bunch of different functions on your DataFrame simultaneously. For example, we can generate a simple statistical summary of the dataset as follows:

In [23]:
reviews.groupby(['country']).price.agg([len,min,max])

                            len   min     max
country
Albania                     2.0  20.0    20.0
Argentina                5631.0   4.0   250.0
Australia                4957.0   5.0   850.0
Austria                  3057.0   8.0  1100.0
Bosnia and Herzegovina      4.0  12.0    13.0
Brazil                     25.0  11.0    35.0
Bulgaria                   77.0   7.0    28.0
Canada                    196.0  12.0   145.0
Chile                    5816.0   5.0   400.0
China                       3.0   7.0    27.0
Croatia                    89.0  12.0    65.0
Cyprus                     31.0  10.0    22.0
Czech Republic              6.0  15.0    25.0
Egypt                       3.0   NaN     NaN
England                     9.0  38.0    75.0
France                  21098.0   5.0  2300.0
Georgia                    43.0   9.0    40.0
Germany                  2452.0   5.0   775.0
Greece                    884.0   7.0   120.0
Hungary                   231.0   7.0   764.0
India                       8.0  10.0    20.0
Israel                    630.0   8.0   150.0
Italy                   23478.0   5.0   900.0
Japan                       2.0  24.0    24.0
Lebanon                    37.0  12.0    51.0
Lithuania                   8.0  10.0    10.0
Luxembourg                  9.0  36.0    50.0
Macedonia                  16.0  12.0    25.0
Mexico                     63.0  12.0   108.0
Moldova                    71.0   8.0    42.0
Montenegro                  2.0  10.0    10.0
Morocco                    12.0   6.0    35.0
New Zealand              3320.0   7.0   125.0
Portugal                 5322.0   4.0   980.0
Romania                   139.0   4.0   320.0
Serbia                     14.0  15.0    42.0
Slovakia                    3.0  15.0    16.0
Slovenia                   94.0   7.0    90.0
South Africa             2258.0   5.0   145.0
South Korea                 4.0  11.0    16.0
Spain                    8268.0   4.0   770.0
Switzerland                 4.0  19.0    38.0
Tunisia                     2.0   NaN     NaN
Turkey                     52.0  14.0   120.0
US                      62397.0   4.0  2013.0
US-France                   1.0  50.0    50.0
Ukraine                     5.0  13.0    13.0
Uruguay                    92.0   7.0    60.0

In [28]:
reviews.groupby(['points']).price.agg([len,min,max])

            len   min     max
points
80        898.0   5.0    80.0
81       1502.0   5.0   354.0
82       4041.0   5.0   150.0
83       6048.0   4.0   225.0
84      10708.0   4.0   225.0
85      12411.0   4.0   320.0
86      15573.0   4.0   495.0
87      20747.0   6.0   325.0
88      17871.0   6.0   325.0
89      12921.0   7.0   500.0
90      15973.0   5.0   535.0
91      10536.0   8.0  2013.0
92       9241.0  11.0   670.0
93       6017.0  12.0   770.0
94       3462.0  15.0  1100.0
95       1716.0  20.0   850.0
96        695.0  20.0  1300.0
97        365.0  42.0  1100.0
98        131.0  50.0  1900.0
99         50.0  65.0  2300.0
100        24.0  65.0  1400.0

# Multi-indexes

In [29]:
countries_reviewed = reviews.groupby(['country','province']).description.agg([len])
countries_reviewed

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
          Other              889
Australia Australia Other    553
          New South Wales    246
...                          ...
Uruguay   Juanico             19
          Montevideo           3
          Progreso             5
          San Jose            15
          Uruguay             18

[455 rows x 1 columns]

In [30]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [32]:
countries_reviewed.reset_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
2    Argentina             Other   889
3    Australia   Australia Other   553
4    Australia   New South Wales   246
..         ...               ...   ...
450    Uruguay           Juanico    19
451    Uruguay        Montevideo     3
452    Uruguay          Progreso     5
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

# Sorting

In [34]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

     index   country         province    len
154    154    Greece   Central Greece      1
207    207    Greece            Zitsa      1
115    115    Cyprus            Pafos      1
362    362  Slovenia  Slovenska Istra      1
213    213   Hungary           Pannon      1
..     ...       ...              ...    ...
407    407     Spain   Northern Spain   4892
122    122    France         Bordeaux   6111
242    242     Italy          Tuscany   7281
442    442        US       Washington   9750
422    422        US       California  44508

[455 rows x 4 columns]

In [35]:
countries_reviewed.sort_values(by='len',ascending=False)

     index      country                                province    len
422    422           US                              California  44508
442    442           US                              Washington   9750
242    242        Italy                                 Tuscany   7281
122    122       France                                Bordeaux   6111
407    407        Spain                          Northern Spain   4892
..     ...          ...                                     ...    ...
410    410  Switzerland                               Neuchâtel      1
411    411  Switzerland                                  Ticino      1
412    412  Switzerland                                  Valais      1
413    413  Switzerland  Vino da Tavola della Svizzera Italiana      1
175    175       Greece                          Krania Olympus      1

[455 rows x 4 columns]

In [36]:
countries_reviewed.sort_index()

     index    country          province   len
0        0    Albania           Mirditë     2
1        1  Argentina  Mendoza Province  4742
2        2  Argentina             Other   889
3        3  Australia   Australia Other   553
4        4  Australia   New South Wales   246
..     ...        ...               ...   ...
450    450    Uruguay           Juanico    19
451    451    Uruguay        Montevideo     3
452    452    Uruguay          Progreso     5
453    453    Uruguay          San Jose    15
454    454    Uruguay           Uruguay    18

[455 rows x 4 columns]

In [37]:
countries_reviewed.sort_values(by=['country','len'])

     index    country          province   len
0        0    Albania           Mirditë     2
2        2  Argentina             Other   889
1        1  Argentina  Mendoza Province  4742
5        5  Australia        Queensland     3
7        7  Australia          Tasmania    47
..     ...        ...               ...   ...
448    448    Uruguay           Colonia     6
453    453    Uruguay          San Jose    15
454    454    Uruguay           Uruguay    18
447    447    Uruguay         Canelones    19
450    450    Uruguay           Juanico    19

[455 rows x 4 columns]

In [39]:
#reviews.groupby('description').size()
#or
reviews.groupby('description').description.count()

description
"Chremisa," the ancient name of Krems, is commemorated in this wine that comes from Krems vineyards. It has tight, tangy apple-driven acidity, with a bright, light, citrusy character. Not for aging.                                                                                                                                                                                 1
"New moon on old vines” is the name of this powerful Douro wine made from selected old vines. It's a solid, ripe wine, very textured, complex. It has intense black fruits, laced with acidity, very firmly anchored in a dense character. Age for 3–4 years.                                                                                                                          1
$10 for this very drinkable Cab? That's crazy. But Line 39 is exactly that, a concentrated, juicy and fruity Cab with plenty of classic Cab tannins that's an incredibly good value and probably pretty easy to find. Scoop it up when you find it, though note that two bottles were tasted here with some bottle variation.                                                          1
$11. Opens with a highly perfumed bouquet of lime, anise and a hint of paraffin. Delicate and fresh apple, lime and stone-fruit flavors follow. Off-beat and slightly lean, but has nice balance.                                                                                                                                                                                      2
$14 is a pretty good price for a Chardonnay that shows such ripe, succulent fruit. It's rich in oranges, pineapples, limes and mangoes, brightened with crisp acidity. Entirely unoaked, the finish is dry, pure and clean.                                                                                                                                                            1
                                                                                                                                                                                                                                                                                                                                                                                      ..
“Whole cluster” refers to the fermentation practice of using intact clusters of grapes, rather than grapes that have been destemmed and crushed. This often results in an earthier, more tannic, spicier wine. This is big, rich and ripe, vast in cherry flavor, yet a little heavy.                                                                                                  2
“Wine for Seafood” is a Trebbiano-based wine from Italy that is redolent of mature fruit, cardboard and lemon soda. It's an awkward wine with a sweet and sticky feel and a sour aftertaste.                                                                                                                                                                                           2
“Wine for a new world” says the wine's tagline; it offers orange-y, berry aromas and flimsy cranberry-plum flavors. Not structured or deep. Imported by Robant.                                                                                                                                                                                                                        2
“Won't cost you an arm and a leg” is Fat Croc's motto. Made in the unoaked, ripe and juicy Australian style, this nicely combines deliciously juicy, tropical fruit flavors with plenty of bracing acid. It avoids the hot, flabby, fake oak flavors that plague most cheap Chardonnays, and gives you a wine that will work better with many foods than a lot of the pricey stuff.    1
“Zéro Dosage” means just that; the resulting wine is very dry. It has great crisp, piercing grapefruit freshness, with hints of nuttiness and a lively final acidity. Some bottle age should help tame it.                                                                                                                                                                             1
Name: description, Length: 97821, dtype: int64

In [41]:
best_rate = reviews.groupby('price')['points'].max().sort_index()

In [43]:
reviews.describe()

          Unnamed: 0         points          price
count  150930.000000  150930.000000  137235.000000
mean    75464.500000      87.888418      33.131482
std     43569.882402       3.222392      36.322536
min         0.000000      80.000000       4.000000
25%     37732.250000      86.000000      16.000000
50%     75464.500000      88.000000      24.000000
75%    113196.750000      90.000000      40.000000
max    150929.000000     100.000000    2300.000000

In [44]:
reviews['price'].dtype

dtype('float64')

In [46]:
reviews.dtypes

Unnamed: 0       int64
country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

Data types tell us something about how pandas is storing the data internally. float64 means that it's using a 64-bit floating point number; int64 means a similarly sized integer instead, and so on.

One peculiarity to keep in mind (and on display very clearly here) is that columns consisting entirely of strings do not get their own type; they are instead given the object type.

It's possible to convert a column of one type into another wherever such a conversion makes sense by using the astype() function. For example, we may transform the points column from its existing int64 data type into a float64 data type:

In [47]:
reviews.points.astype('float64')

0         96.0
1         96.0
2         96.0
3         96.0
4         95.0
          ...
150925    91.0
150926    91.0
150927    91.0
150928    90.0
150929    90.0
Name: points, Length: 150930, dtype: float64

In [50]:
reviews.dtypes

Unnamed: 0       int64
country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

# Missing Data

In [51]:
reviews[pd.isnull(reviews['country'])]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis
1440,1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ
68226,68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
113016,113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
135696,135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas

In [54]:
reviews.region_2.fillna("Unnamed")

0                      Napa
1                   Unnamed
2                    Sonoma
3         Willamette Valley
4                   Unnamed
                ...
150925              Unnamed
150926              Unnamed
150927              Unnamed
150928              Unnamed
150929              Unnamed
Name: region_2, Length: 150930, dtype: object

In [55]:
reviews.region_2.isnull().sum()

89977

In [58]:
reviews.region_1.fillna("Unknown").value_counts().sort_values(ascending = False)

Unknown                                      25060
Napa Valley                                   6209
Columbia Valley (WA)                          4975
Mendoza                                       3586
Russian River Valley                          3571
                                             ...
Martina                                          1
Roussette de Savoie                              1
Monterey County-Napa County-Sonoma County        1
Michigan                                         1
Vin de Pays des Coteaux de Murviel               1
Name: region_1, Length: 1237, dtype: int64

# Renaming

In [60]:
reviews.rename(columns={'points':'score'})

,Unnamed: 0,country,description,designation,score,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [63]:
reviews.rename(index={0:'firstEntry',
                     1:'secondEntry'})

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
firstEntry,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
secondEntry,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [65]:
reviews.rename_axis("wines",axis='rows').rename_axis("fields", axis ='columns')

fields,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
wines,,,,,,,,,,,
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...,...
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder